* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	box-sizing: border-box;
}

body {
	overflow: auto;
	height: 100vh;
	width: 100%;
}

main {
	position: relative;
	height: 100vh;
	width: 100%;
}

.side-menu{
	margin: 0;
	padding: 0;
	width: 350px;
	height: 100vh;
	
	position: absolute;
	right: 0px;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff30;
	border-radius: .5rem;
}

.side-menu .header-wrapper{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.side-menu .header-wrapper > img{
	width: 50px;
}


.side-menu .header-wrapper h2{
	margin: 1rem 0 ;
	font-size: 1.3rem;
	text-align: center;
	color: whitesmoke;
	font-weight: lighter;
}

.side-menu .header-wrapper button{
	width: 60px;
}

.side-menu .header-wrapper button>img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.slider-wrapper{
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.slider-wrapper label{
	padding: .5rem 0 .2rem .4rem;
	color: whitesmoke;
}

button{
	margin: .5rem;
	height: 2rem;
	width: 90%
}
button[id="export-svg-btn"]{
	position: absolute;
	bottom: 0;
}

#path-color{
	margin: 0 auto;
	width: 99%;
	height: 30px;	
}

#switch-visibility{
	background: none;
	border: none;
	border-radius: 100%;
}

#switch-visibility img svg {
	fill: white;
}
div.credits{
	position: absolute;
	bottom:0;
	font-size: .7rem;
	color: white;
}
div.credits a {
	
	font-size: .7rem;
	color: white;
}