*{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	box-sizing: border-box;
}
body{overflow: hidden;}

main{
	position: relative;
}
.side-menu{
	margin: 0;
	padding: 0;
	width: 350px;
	height: 100vh;
	
	position: absolute;
	right: 0px;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff30;
	border-radius: .5rem;
}

.side-menu h2{
	margin: 1rem 0 ;
	font-size: 1.3rem;
	text-align: center;
	color: whitesmoke;
	font-weight: lighter;
}
.side-menu img{
	position: absolute;
	top: .7rem;
	left: 4.5rem;
	width: 40px;
}
.slider-wrapper{
	width: 100%;
	display: flex;
	flex-flow: column nowrap;


}

.slider-wrapper label{
	
	padding: .5rem 0 .2rem .4rem;
	color: whitesmoke;
}

button{
	margin: .5rem;
	height: 2rem;
	width: 90%
}
button[id="export-svg-btn"]{
	position: absolute;
	bottom: 0;
}
#path-color{
	margin: 0 auto;
	width: 99%;
	height: 30px;
	
}